
<div id="gb-page" class="hp">
	<div id="gb-header-outer">
		<div id="gb-header">
			<div class="inner ui-clear">
				<div id="header-left">
					<div id="large-logo">
						<div class="gb-logo" class="hidden"></div>
						<div class="gb-sitename"></div>
					</div>
					<div id="small-logo" class="ui-clear">
						<div class="gb-logo" class="hidden"></div>
						<div class="gb-sitename"></div>
					</div>
				</div>
				<div id="header-right">
					<div id="gb-channel-list" class="hide768">
						[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="hp-multimedia-outer">
	<div id="hp-multimedia-video" class="mb-video-player hide640" style="position: relative;">
		<div id="okplayer-mask" style="position: absolute; left: 0px; top: 0px; overflow: hidden; z-index: -998; height: 100%; width: 100%; background-image: url(data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);"></div><iframe src="//player.vimeo.com/video/108792063?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;playbar=0&amp;loop=1&amp;autoplay=1&amp;volume=0&amp;player_id=okplayer" frameborder="0" style="position: absolute; left: 0px; top: 0px; overflow: hidden; z-index: -999; height: 100%; width: 100%; visibility: visible; background-color: black;" id="okplayer"></iframe></div>
	<img class="hide960 show640" src="http://www.barrington220.org/cms/lib2/il01001296/centricity/template/globalassets/images///background%20image/district.jpg" alt="Barrington 220 School District Background">
	<div id="hp-multimedia-overlay">
		<div id="hp-multimedia-gradient" class="hide768"></div>
		<div id="tagline-wrapper" class="ui-clear show768">
			<div class="tagline-text">
				<span class="large-text">ONE</span> Community, <span class="large-text">ONE</span> District, <span class="large-text">ONE</span> Vision, for <span class="large-text">All Children</span>
			</div>
				<a class="tagline-button icon-font">8</a>
		</div>
	</div>
</div>
	<!-- <div id="hp-slideshow-outer">
		<div id="hp-slideshow">
			[$ContentRegion props="ContainerNumber:10"$]
		</div>
	</div> -->
	<div id="hp-content-outer">
		<div id="hp-content">
			<div class="inner">
				<div id="hp-content-top" class="ui-clear hide768">
					<div id="hp-icons">
						<a id="hp-search" class="hp-icon gb-search">
							<span class="icon-content">
								<span class="icon-font">1</span>
							</span>
						</a>
						<a class="hp-icon menu">
							<span class="icon-content">
								<span class="icon-font">2</span>
								<span class="icon-text">Menu</span>
							</span>
						</a>
						<a class="hp-icon skyward">
							<span class="icon-content">
								<span class="icon-font">3</span>
								<span class="icon-text">Menu</span>
							</span>
						</a>
						<a class="hp-icon directory">
							<span class="icon-content">
								<span class="icon-font">4</span>
								<span class="icon-text">Menu</span>
							</span>
						</a>
						<a class="hp-icon news">
							<span class="icon-content">
								<span class="icon-font">5</span>
								<span class="icon-text">Menu</span>
							</span>
						</a>
						<a class="hp-icon briefcase">
							<span class="icon-content">
								<span class="icon-font">6</span>
								<span class="icon-text">Menu</span>
							</span>
						</a>
					</div>
				</div>
				<div id="hp-content-bottom" class="ui-clear">
					<div class="hp column one">
						<div id="headlines-wrapper">
							[$ContentRegion props="ContainerNumber:1"$]
							<a id="more-info">MORE INFO</a><a id="view-all-headlines">VIEW ALL HEADLINES</a>
						</div>
					</div>
					<div class="hp column two">
						[$ContentRegion props="ContainerNumber:2"$]
					</div>
				</div>
				<div id="hp-below-content" class="ui-clear hide768">
					<div class="tagline-text">
						<span class="large-text">ONE</span> Community, <span class="large-text">ONE</span> District, <span class="large-text">ONE</span> Vision, for <span class="large-text">All Children</span>
					</div>
					<a class="tagline-button icon-font">8</a>
					<div id="video-controls" class="hide768">
						<div id="play-button">
							<span class="control-text">Play Video</span>
							<a class="control-button icon-font">8</a>
						</div>
						<div id="pause-button">
							<span class="control-text">Pause Video</span>
							<a class="control-button icon-font">7</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="gb-footer-wrapper">
		<div id="footer-gradient" class="show768"></div>
		<div id="gb-footer-outer">
			<div id="gb-footer">
				<div class="inner ui-clear">
					<div class="gb footer one ui-clear">
						<div id="chevron-toggle" class="icon-font toggle-info">
							<span class="closed">9</span>
							<span class="opened">0</span>
						</div>
						<div class="sw-mystart-button toggle-info">
							<a href="#"><span>CONTACT US</span></a>
						</div>
						<div class="sw-mystart-button">
							<a href="#"><span>DISTRICT HOME</span></a>
						</div>
						<div class="sw-mystart-button sitemap hide768">
							<a href="#"><span>SITEMAP</span></a>
						</div>
					</div>
					<div class="gb footer two ui-clear hide480">
						<div id="social-icons" class="ui-clear">
							<a class="sc-ico fb">
								<img src="img/icon-facebook.png"/>
							</a>
							<a class="sc-ico fb">
								<img src="img/icon-twitter.png"/>
							</a>
							<a class="sc-ico fb">
								<img src="img/icon-instagram.png"/>
							</a>
							<a class="sc-ico fb">
								<img src="img/icon-pinterest.png"/>
							</a>
							<a class="sc-ico fb">
								<img src="img/icon-youtube.png"/>
							</a>
							<a class="sc-ico fb">
								<img src="img/icon-vimeo.png"/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="gb-footer-info-outer">
			<div id="gb-footer-info">
				<div class="inner ui-clear">
					<div class="gb footer-info one">
						<div id="map-marker" class="icon-font">-</div>
						<p>[$SiteName$]<span class="middot">·</span>[$SiteAddressOne$]<span class="middot">·</span>[$SiteCity$], [$SiteState$] [$SiteZip$]</p>
						<p>[$SiteContactPhone$] <span id="fax-title">Fax:</span> [$SiteContactFax$]</p>	
					</div>
					<div class="gb footer-info two ui-clear">
						<div id="sw-links">
							<a id="feedback" class="sw-footer-link"></a>
							<a id="policy" class="sw-footer-link"></a>
							<a id="terms" class="sw-footer-link"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>